<div class="row">
    <div class="col-md-9">
        <h3>Partidos</h3>
    </div>
    <div class="col-md-3">
        <span class="float-right">
        <button type="button" class="btn btn-success" [disabled]="equipos.length < 4 || equipos.length > 20 || equipos.length % 2 == 1" (click)="generarGrupos()">Generar</button>
      </span>
    </div>
</div>
<div class="row" *ngIf="equipos.length < 4 || equipos.length > 20 || equipos.length % 2 == 1">
    <div class="col-md-12">
        <div class="alert alert-info">
            <strong>Para generar el fixture</strong> se necesita un numero par de equipos y estos deben ser mas de 4 y no mayor a 20.
        </div>
    </div>
</div>
<div class="row" *ngIf="rondas.length == 0 && equipos.length >= 4 && equipos.length <= 20 && equipos.length % 2 == 0">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong>Haga click en generar para crear el fixture</strong>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card" *ngFor="let ronda of rondas; let i = index">
            <div class="card-header">
                Fecha {{i + 1}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6" *ngFor="let partido of rondas[i]">{{ partido }}</div>
                </div>
            </div>
        </div>
    </div>
</div>